{% set field_id = options.override_id|default(field.getIdentifier()) %}
{% set field_name = options.override_identifier|default(field.getIdentifier()) %}
{% set inputs = field.getInputs()|default(1) %}
{% set is_required = field.isRequired() and (required|default(true)) %}
<div class="form-group mb-3">
    <label class="form-label">{{ field.getName()|vistrans([], options.translation_domain|default('datatable')) }}{% if is_required %}{{ field.getRequiredMarker() }}{% endif %}{{ field.getSeparator() }}</label>
    <div class="row">
        {% for i in 1..inputs %}
            <div class="col">
                <input type="password" name="{{ field_name }}{% if inputs > 1 %}[]{% endif %}" id="{{ field_id }}_{{ i }}" class="form-control" value=""
                       placeholder="{% if inputs > 1 %}{{ ('password.input_' ~ i)|vistrans([], options.translation_domain|default('datatable')) }}{% endif %}"
                {% if is_required %}required{% endif %}
                />
            </div>
        {% endfor %}
    </div>
    <span class="invalid-feedback"></span>
</div>
