{% set field_id = options.override_id|default(field.getIdentifier()) %}
{% set field_name = options.override_identifier|default(field.getIdentifier()) %}
<div class="form-group mb-3">
    <label class="form-label">{{ field.getName()|vistrans([], options.translation_domain|default('datatable')) }}:</label>
    <div class="d-flex flex-column gap-1">
        {% set selected = field.getValueForm() is iterable ? field.getValueForm() : [] %}
        {% for key, label in field.availableRoles %}
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="{{ field_id }}_{{ loop.index }}" name="{{ field_name }}[]" value="{{ key }}" {% if key in selected %}checked{% endif %} {% if key == 'ROLE_USER' and not options.override_identifier|default(false) %}disabled{% endif %}>
                <label class="form-check-label" for="{{ field_id }}_{{ loop.index }}">{{ label }}</label>
            </div>
        {% endfor %}
    </div>
    <span class="invalid-feedback"></span>
</div>
